@if (Context.User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link text-info" asp-controller="Tickets" asp-action="Tickets">Tickets</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-info"
           asp-controller="Manage"
           asp-action="LogOut">
            <span style="color:red">
                @Context.User.Identity.Name
            </span>
            Log Out
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-info"
           asp-controller="Tickets"
           asp-action="Tickets">
            Log In
        </a>
    </li>
}
