@model MvcExamenLuisEFrias.Models.Ticket

@{
    ViewData["Title"] = "CreateTicket";
}

<h1>CreateTicket</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="IdTicket" class="control-label"></label>
                <input type="text" name="idticket" class="form-control" />
                <span asp-validation-for="IdTicket" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <input type="number" name="idusuario" class="form-control" />
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input type="date" name="fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Importe" class="control-label"></label>
                <input type="text" name="importe" class="form-control" />
                <span asp-validation-for="Importe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto" class="control-label"></label>
                <input type="text" name="producto" class="form-control" />
                <span asp-validation-for="Producto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input name="file" type="file" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="StoragePath" class="control-label"></label>
                <input asp-for="StoragePath" class="form-control" />
                <span asp-validation-for="StoragePath" class="text-danger"></span>
            </div>
            -->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Tickets">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
